{% extends 'moduletest/base.html' %}

{% block jumbotron %}
技 经 测 算
{% endblock jumbotron %}

{% block ver-nav-content %}
    <a class="nav-link active" id="v-pills-input1-tab" data-toggle="pill" href="#v-pills-input1" role="tab" aria-controls="v-pills-input1" aria-selected="true"><i class="fa fa-caret-square-o-right text-warning" aria-hidden="true"></i> 收入项</a>
    <a class="nav-link" id="v-pills-input2-tab" data-toggle="pill" href="#v-pills-input2" role="tab" aria-controls="v-pills-input2" aria-selected="false"><i class="fa fa-caret-square-o-right text-warning" aria-hidden="true"></i> 成本项</a>
    <a class="nav-link" id="v-pills-input3-tab" data-toggle="pill" href="#v-pills-input3" role="tab" aria-controls="v-pills-input3" aria-selected="false"><i class="fa fa-caret-square-o-right text-warning" aria-hidden="true"></i> 投资项</a>
    <a class="nav-link" id="v-pills-input4-tab" data-toggle="pill" href="#v-pills-input4" role="tab" aria-controls="v-pills-input4" aria-selected="false"><i class="fa fa-caret-square-o-right text-warning" aria-hidden="true"></i> 其他设定</a>
{% endblock %}


{% block input-tabs-content %}
     <form  class="" action="" method="post" enctype="multipart/form-data" id = "form1">
      {% csrf_token %}
      <div class="tab-content" id="v-pills-tabContent" >
          <div class="tab-pane fade show active" id="v-pills-input1" role="tabpanel" aria-labelledby="v-pills-input1-tab">
            <div class="form-group col-sm-5">
              {{ form1 }}
            </div>
          </div>
          <div class="tab-pane fade" id="v-pills-input2" role="tabpanel" aria-labelledby="v-pills-input2-tab">
            <div class="form-group col-sm-5">
              {{ form2 }}
            </div>
          </div>
          <div class="tab-pane fade" id="v-pills-input3" role="tabpanel" aria-labelledby="v-pills-input3-tab">
            <div class="form-group col-sm-5">
              {{ form3 }}
            </div>
          </div>
          <div class="tab-pane fade" id="v-pills-input4" role="tabpanel" aria-labelledby="v-pills-input4-tab">
            <div class="form-group col-sm-5">
              {{ form4 }}
            </div>

            <div class="row col-xs-12">
                <input class = "form-control" type="text" name = "达产率" id="达产率">
                  <script>
                     $("#达产率").hide()
                 </script>
               <table class="table table-striped table-bordered table-hover text-nowrap" id = "达产率表格">
                    <tr>
                   <script>
                       document.write("<td>年份</td>");
                       for (var j=1; j<=20 ;j++){
                           document.write("<td width=\"100px\">" + j + "</td>");
                       }
                   </script>
                    </tr>

                    <tr>
                       <td>达产率</td>
                        {% for value in 达产率 %}
                            <td width="100px" contenteditable="true" >{{ value }}</td>
                        {% endfor %}
                   </tr>
               </table>
             </div>
          </div>
      </div>
    </form>
{% endblock %}

{% block button %}
    <div class="btn-group" role="group" aria-label="Basic example">
        <input class="btn btn-success" form= "form1" type="submit" value="Submit" id ="submit1">
         <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#敏感性分析" aria-expanded="false" aria-controls="敏感性分析">敏感性分析</button>
     </div>
{% endblock %}

{% block other %}
 <div id="敏感性分析">
    <div class="row">
    <p>-----------------------------------------------------------------------------------------------------------------------------------------------------------------</p>
     <div class="col-sm-4">
         <label> 敏感性分析-变量选择 </label>
         <select class="form-control" id="变量选择">
            <option value ="蒸汽价格">蒸汽价格</option>
            <option value ="售电价格">售电价格</option>
            <option value="供热价格">供热价格</option>
            <option value="供冷价格">供冷价格</option>
            <option value="光伏售电价格">光伏售电价格</option>
            <option value="天然气额外销售价格">天然气额外销售价格</option>
            <option value="天然气成本价格">天然气成本价格</option>
            <option value="土地租金">土地租金</option>
            <option value="设备租金">设备租金</option>
         </select>

         <label>最小值</label>
         <input type="text" class="form-control" id="最小值">
         <label>最大值</label>
         <input type="text" class="form-control" id="最大值">
         <label>步长</label>
         <input type="text" class="form-control" id="步长">
            <br/>
         <button class="btn btn-danger" type="button" id ="btngraph">click</button>
     </div>

    <div class="col-sm-8">
         <div id="main" style="width: 100%;height:300px;"></div>
    </div>
    </div>


    {% load static %}
    <script src="{% static 'moduletest/js/economicgraph.js' %}" ></script>
    <script>
        $("#敏感性分析").addClass("collapse")
    </script>
    </div>

{% endblock %}

{% block result-windows %}
    <script src="{% static 'moduletest/js/economic.js' %}" ></script>
    {% if 技经计算结果 %}
            <div class="row justify-content-center">
            <div class="col-xs-4" >
            <table class="table table-striped table-bordered table-hover text-nowrap table-sm" >
                <caption class="text-default"><b>表 - 技经计算结果</b></caption><br/>
               {% for k, v in 技经计算结果.items %}
                    <tr>
                         <td>{{ k }}</td><td>{{ v }}</td>
                   </tr>
               {% endfor %}
            </table>
            </div>
            </div>
         {% endif %}

         {% if 技经计算明细列表 %}
        <div class="row col-md-12" style="overflow-x: scroll">
            <table class="table table-striped table-bordered table-hover text-nowrap table-sm" >
                <caption class="text-default"><b>表 - 全投资现金流量表</b></caption><br/>
               {% for row in 技经计算明细列表 %}
                    <tr>
                        {% for item in row %}
                             <td>{{ item }}</td>
                        {% endfor %}
                   </tr>
               {% endfor %}
            </table>
         </div>
         {%  endif %}
{% endblock %}
