<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>ENN_GZ</title>
    {% load static %}
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://cdn.bootcss.com/iScroll/5.2.0/iscroll.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-throttle-debounce/1.1/jquery.ba-throttle-debounce.min.js"></script>
    <script src="{% static 'moduletest/js/jquery.cookie.js' %}"></script>
    <script src="https://cdn.bootcss.com/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script src="{% static 'moduletest/js/echarts.js' %}" type="text/javascript"></script>
</head>

<body>
<nav class="navbar navbar-default" style="margin-bottom:0px;">
    <div class="container-fluid">
	<!-- Brand and toggle get grouped for better mobile display -->
	<div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        {% load static %}
        <a class="navbar-brand" href="" style="padding-top: 5px"> <img src="{% static "moduletest/timg4.jpg" %}" width="35" height="35" alt=""></a>
	</div>

	<!-- Collect the nav links, forms, and other content for toggling -->
	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	  <ul class="nav navbar-nav">
        <li ><a href="../LoadDataUpload">新建项目 <span class="sr-only"></span></a></li>
		<li><a href="../SteamSolution">供蒸汽方案 <span class="sr-only">(current)</span></a></li>
		<li ><a href="../SolutionComparison">量化筛选</a></li>
		<li class="dropdown">
		  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">模块化工具 <span class="caret"></span></a>
		  <ul class="dropdown-menu">
                <li><a href="../OperatingStrategy">运行策略&投入产出</a></li>
{#			<li><a href="../InvestmentAssessment">投资估算</a></li>#}
			<li><a href="../Economic">技经计算</a></li>
			<li role="separator" class="divider"></li>
			<li><a href="#--">Updating....!</a></li>
		  </ul>
		</li>
	  </ul>

        <ul class="nav navbar-nav navbar-right">
            <li><h4 class="text-primary" style="font-style: italic ; font-size: large; margin-top: 18px">Hello, {{ user.username }} !..</h4></li>
            <li class ="active"><a href="/moduletest/logout" class="text-danger">退出登陆</a></li>
      </ul>
	</div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
