{% include "moduletest/HeadNavbar.html" %}

<div class="jumbotron" style = "background-color:	#F5F5F5  ">
<div class="container" style="height: 150px">

	<h2 class = "text-primary">运行策略测试</h2>
</div>
</div>

<div class="container">
<div class="row">
{#  <div class="col-md-4">#}

<div class="panel panel-primary">

    <div class="panel-heading"><b>参数输入</b></div>
 <div class="panel-body">


 <form  class="" action="" method="post" enctype="multipart/form-data" id = "form1">
  {% csrf_token %}
 <div class="col-xs-4">
{#	<p class = "text-info"> 上传负荷数据文件 </p>#}
{#{{ obj1.excel }}#}
{# <br/>#}

{#     <p class = "text-info"> <b>负荷数据</b> </p>#}
 <div class="form-group">
{{ obj1.负荷数据.label_tag }}
{{ obj1.负荷数据 }}
 </div>
{#     <p class = "text-info"> <b>设备配置</b> </p>#}

  <div class="form-group">
 {{ obj1.并网模式.label_tag }}
 {{ obj1.并网模式 }}
</div>

  <div class="form-group">
 {{ obj1.发电机型号选择.label_tag }}
 {{ obj1.发电机型号选择 }}
 </div>
{#<select  name = "发电机型号选择" form = "form1">#}
{#    {% for 发电机型号 in 发电机型号列表 %}#}
{#  <option value = "{{ 发电机型号 }}" > {{ 发电机型号}} </option>#}
{#    {% endfor %}#}
{#</select>#}
 <div class="form-group">
 {{ obj1.发电机台数.label_tag }}
 {{ obj1.发电机台数 }}
 </div>


{#   <input type="radio" name="并网模式" value="全额上网">全额上网#}
{#  <input type="radio" name="并网模式" value="自发自用">自发自用#}
{#  <input type="radio" name="并网模式" value="自发自用余电上网">自发自用余电上网#}
 <div class="form-group">
      {{ obj1.燃气价格.label_tag }}
	{{ obj1.燃气价格 }}
 </div>

  <div class="form-group">
     {{ obj1.蒸汽价格.label_tag }}
	{{ obj1.蒸汽价格 }}
  </div>
<br/>
       <input class="btn btn-success" type="submit" value="Submit">
 </div>
 <div class="col-xs-4">



 <div class="form-group">
  {{ obj1.燃气热值.label_tag }}
	{{ obj1.燃气热值 }}
 </div>

  <div class="form-group">
  {{ obj1.水蒸气焓差.label_tag }}
	{{ obj1.水蒸气焓差 }}
 </div>

  <div class="form-group">
  {{ obj1.燃气轮机满负荷运行小时数限制.label_tag }}
	{{ obj1.燃气轮机满负荷运行小时数限制 }}
 </div>

  <div class="form-group">
  {{ obj1.燃气内燃机满负荷运行小时数限制.label_tag }}
	{{ obj1.燃气内燃机满负荷运行小时数限制 }}
 </div>

  <div class="form-group">
 {{ obj1.燃气锅炉效率.label_tag }}
	{{ obj1.燃气锅炉效率 }}
 </div>

  <div class="form-group">
 {{ obj1.余热锅炉效率.label_tag }}
	{{ obj1.余热锅炉效率 }}
 </div>

  {% if lastTime %}
  {% else %}
{% endif %}

<br/>

 </form>
 </div>
</div>
</div>


<div class="panel panel-primary">
<div class="panel-heading"><b>结果输出</b></div>
 <div class="panel-body">

{% if 输出量列表 %}

	<table class="table table-striped table-bordered table-hover" >
	<thead>
	<tr>
		<th class="bg-success" style="background-color: #01B468; color:white ">时间</th>
		<th class="bg-success" style="background-color: #01B468; color:white">蒸汽负荷(t)</th>
		<th class="bg-success" style="background-color: #01B468; color:white">电负荷(kW)</th>
		<th class="bg-success" style="background-color: #01B468; color:white">发电机发电量(kW)</th>
		<th class="bg-success" style="background-color: #01B468; color:white">市政电价(元)</th>
		<th class="bg-success" style="background-color: #01B468; color:white">上网电价(元)</th>
		<th class="bg-success" style="background-color: #01B468; color:white">内部售电价(元)</th>
		<th class="bg-success" style="background-color: #01B468; color:white">发电机产汽量(t)</th>
		<th class="bg-success" style="background-color: #01B468; color:white">燃气锅炉产汽量(t)</th>
		<th class="bg-success" style="background-color: #01B468; color:white">备用锅炉产汽量(t)</th>
		<th class="bg-success" style="background-color: #01B468; color:white">运行收益(元)</th
	</tr>
	</thead>

	<tbody >
	{% for 时间, 蒸汽负荷, 电负荷, 发电机发电量 , 市政电价, 上网电价, 内部售电价, 发电机产汽量, 燃气锅炉产汽量, 备用锅炉产汽量, 运行收益 in 输出量列表 %}
		<tr>
		<td style = "width:130px">{{  时间 }}</td>
		<td style = "width:130px">{{  蒸汽负荷 }}</td>
		<td style = "width:130px">{{  电负荷 }}</td>
		<td style = "width:130px">{{  发电机发电量 }}</td>
		<td style = "width:130px">{{  市政电价 }}</td>
		<td style = "width:130px">{{  上网电价 }}</td>
		<td style = "width:130px">{{  内部售电价 }}</td>
		<td style = "width:130px">{{  发电机产汽量 }}</td>
		<td style = "width:130px">{{  燃气锅炉产汽量 }}</td>
		<td style = "width:130px">{{  备用锅炉产汽量 }}</td>
		<td style = "width:130px">{{  运行收益 }}</td>
		</tr>
	{% endfor %}
	</tbody>
	</table>
{% endif %}


{% if combination_list %}
	<table border="1">
	{% for machine_group in combination_list %}
		<tr>
			{% for item in machine_group %}
				<td style = "width:200px">{{ item }}</td>
			{% endfor %}
		</tr>
	{% endfor %}
	</table>

{% endif %}

{##}
{#  </div>#}
</div>
</div>
</div>
</div>

</body>
</html>